[submodule "src/Unification/vol10"]
	path = src/Unification/vol10
	url = https://github.com/TimothyKish/Vol10_The_Deep_Survey.git
[submodule "src/Unification/vol11"]
	path = src/Unification/vol11
	url = https://github.com/TimothyKish/vol11.git
[submodule "src/KishLattice_Star"]
	path = src/KishLattice_Star
	url = https://github.com/TimothyKish/KishLattice_Star.git
